@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
}

body,
html {
  background-color: black;
  margin: 0;
  padding: 0;
}
